*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  
}

.navigbar{
  display: flex;
  align-items: center;
  padding: 20px;
}

nav ul li:hover {
  background: rgba(52, 180, 1, 0.89);
  

}
nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

a{
  text-decoration: none;
  color: rgb(7, 6, 6);
}
a:hover
{
  color: aliceblue;
}

p{
  color: #555;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col2{
  flex-basis: 50%;
  min-width: 300px;
}

.col2 img{
  max-width: 100%;
  padding: 50px 0;
}

.col2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn{
  display: inline-block;
  background: rgb(255, 182, 46);
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 40px;
  transition: background 0.5s;
}
.btn:hover{
  background: rgb(250, 100, 0);
}
.btn:active{
  background: rgba(72, 255, 0, 0.747);
}
.header
{
  background: radial-gradient(#fff,rgb(0, 128, 68));

}

.header .row{
  margin-top: 70px;
}
.categories{
  margin: 70px 0;
}

.col3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col3 img{
  width: 100%;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}



.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 60px;
  transition: transform 0.5s;
}

.col-4 img{
  width: 100%;
}

.col-41{
  flex-basis: 5%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 60px;
  transition: transform 0.5s;
}

.col-41 img{
  width: 100%;
}


.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: rgb(116, 116, 116);

}

.titles{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: rgb(2, 2, 2);

}



.title::after{
  content: '';
  background: rgb(255, 81, 0);
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4{
  color: #555;
  font-weight: normal;
}

.col-4 p{
  font-size: 14px;

}

.rating{
  color: rgb(255, 182, 46);
}

.col-4:hover{
  transform: translateY(-10px);
}

.col-41:hover{
  transform: translateY(-10px);
}


/*----------footer-----------*/

.footer{
  background-color: black;
  color: #fff;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p{
  color: #fff;
}

.footer h3{
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1{
  flex-basis: 30%;
}

.footer-col-2{
  flex: 1;
  text-align: center;
}

.footer-col-2 img{
  width: 80px;
  margin-bottom: 20px;
  align-content: center;
}

.footer-col-3{
  flex-basis: 12%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

.footer hr{
  border: none;
  background: blanchedalmond;
  height: 1px;
  margin: 20px 0;
}

.copyright{
  text-align: center;
}

/*-----account-------*/

.account-page{
  background: radial-gradient(#fff,rgb(0, 128, 68));
  padding: 20px 0;
}
.form-container{
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn{
  display: inline-block;
}

.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px  solid #ccc;
}

form .btn{
  width: 100%;
  border:  none;
  cursor: pointer;
  margin: 10px 0;
}

form .btn :focus{
  outline: none;
}

#LoginForm{
  left: -300px;
}

#SigninForm{
  left: 0;
}

#Indicator{
  width: 100px;
  border: none;
  background: blue;
  height: 3px;
  margin-top: 8px;
  margin-left: 50px;
  transform: translateX(100px);
  transition: transform 1s;
}

.contact-1{
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}
.contact-section{
 
 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-info{
  color: #080202;
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}

.contact-info i{
  margin-right: 20px;
  font-size: 25px;
}

.contact-form{
  max-width: 700px;
  margin-right: 50px;
}

.contact-info, .contact-form{
  flex: 1;
}

.contact-form h2{
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box{
  background: #000;
  color: #fff;
  border: none;
  width: calc(50%-10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 10px ;
  margin-bottom: 20px;
  opacity: 0.8;
}

.contact-form .text-box:first-child{
  margin-right: 15px;
}

.contact-form textarea{
  background: #000;
  color: #fff;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px ;
  max-height: 400px;
  resize: vertical;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .send-btn{
  float: right;
  background: rgb(78, 78, 255);
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.contact-form .send-btn:hover{
  background: #0861a5;
}


.about-section{
  width: 100%;
  min-height: 100vh;
  background: #ddd;
  margin-bottom: 300px;
}

.about-container{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.about-content{
  float: left;
  width: 55%;
}

.image-section{
  float: right;
  width: 45%;
}

.image-section img{
  width: 100%;
  height: auto;
}

.about-content .about-title{
  text-transform: uppercase;
  font-size: 28px;
}

.about-content .acontent h3{
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}

.about-content .content p{
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}